header {
  background-color: #67423b;
  height: 30px;
  width: 100%;
}

h1 {
  text-align: center;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}

footer {
  background-colour: #67423b;
  text-align: right;
  height: 10px;
  height: 100%;
}
